In [7]:
import os
import pandas as pd

In [17]:
detail_filepath = '../scraper/data/dailyteams/'
detail_files = os.listdir(detail_filepath)[:-1]
detail_fileslist = []
for file in detail_files:
    if file[-4:] == ".csv":
        detail_fileslist.append(detail_filepath + file)

In [24]:
full_detail_df = pd.DataFrame()
for file in detail_fileslist:
    new_data = pd.read_csv(file)
    full_detail_df = full_detail_df.append(new_data)

In [25]:
full_detail_df.head()

,pos,player_team_status_pos,opp,result,MIN,REB,AST,STL,BLK,PTS,PR15,%OWN,+/-,team_id,scoring_period,date
0,C,Nikola JokicDenC,Phx,W 119-91,31.0,11.0,11.0,4.0,1.0,35.0,6.75,99.7,-0.1,1,5,2018-10-20
1,G,John WallWshPG,Tor,L 113-117,34.0,4.0,6.0,4.0,1.0,25.0,8.87,99.4,-0.1,1,5,2018-10-20
2,G,Ricky RubioUtahPG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.65,87.6,-0.1,1,5,2018-10-20
3,G,Eric BledsoeMilPG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.94,83.9,-0.6,1,5,2018-10-20
4,F,"Giannis AntetokounmpoMilPF, SF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.50,99.9,0.0,1,5,2018-10-20

In [29]:
played_df = full_detail_df[(full_detail_df['MIN'] > 0) & (full_detail_df['pos']!='Bench')]

In [32]:
played_df.groupby(['team_id','pos'], as_index=False)[['date']].count()

    team_id   pos  date
0         1     C    23
1         1     F    72
2         1     G    71
3         1  UTIL    68
4         2     C    27
5         2     F    62
6         2     G    74
7         2  UTIL    57
8         3     C    25
9         3     F    65
10        3     G    66
11        3  UTIL    66
12        4     C    22
13        4     F    65
14        4     G    63
15        4  UTIL    63
16        5     C    23
17        5     F    54
18        5     G    79
19        5  UTIL    79
20        6     C    23
21        6     F    62
22        6     G    60
23        6  UTIL    58