In [64]:
import pandas as pd
import datetime
import os
import matplotlib as pyplot
%matplotlib inline

In [65]:
yesterday = (datetime.datetime.today() -  datetime.timedelta(1)).strftime('%Y-%m-%d')
preyesterday = (datetime.datetime.today() -  datetime.timedelta(2)).strftime('%Y-%m-%d')

In [58]:
standings_filepath = '../scraper/data/standings/'
standings_files = os.listdir(standings_filepath)[:-1]
standings_fileslist = []
for file in standings_files:
    standings_fileslist.append(standings_filepath + file)

In [81]:
full_standing_df = pd.DataFrame()
for file in standings_fileslist:
    new_data = pd.read_csv(file, index_col=0)
    full_standing_df = full_standing_df.append(new_data)

In [82]:
full_standing_df['rbs/g'] = full_standing_df['rebounds'] / full_standing_df['games_played']
full_standing_df['ast/g'] = full_standing_df['assists'] / full_standing_df['games_played']
full_standing_df['stl/g'] = full_standing_df['steals'] / full_standing_df['games_played']
full_standing_df['blk/g'] = full_standing_df['blocks'] / full_standing_df['games_played']
full_standing_df['pts/g'] = full_standing_df['points'] / full_standing_df['games_played']

In [93]:
full_standing_df

,rebounds,assists,steals,blocks,points,games_played,moves,date,rbs/g,ast/g,stl/g,blk/g,pts/g
team,,,,,,,,,,,,,
New New York Atomic Supermen,712,488,116,95,1507,94,5,2018-11-03,7.574468,5.191489,1.234043,1.010638,16.031915
Chicago Mac Attack,681,381,110,84,1828,97,5,2018-11-03,7.020619,3.927835,1.134021,0.865979,18.845361
French Fries,690,372,109,103,1745,98,4,2018-11-03,7.040816,3.795918,1.112245,1.051020,17.806122
Team Steege,715,374,104,61,1626,91,0,2018-11-03,7.857143,4.109890,1.142857,0.670330,17.868132
Crimetown Chum Bloods,638,392,88,73,1737,93,7,2018-11-03,6.860215,4.215054,0.946237,0.784946,18.677419
Paul George Michael Bluth,637,371,90,71,2064,96,1,2018-11-03,6.635417,3.864583,0.937500,0.739583,21.500000
New New York Atomic Supermen,669,462,110,89,1449,89,4,2018-11-02,7.516854,5.191011,1.235955,1.000000,16.280899
Chicago Mac Attack,634,359,104,80,1750,91,5,2018-11-02,6.967033,3.945055,1.142857,0.879121,19.230769
French Fries,632,349,92,93,1613,89,4,2018-11-02,7.101124,3.921348,1.033708,1.044944,18.123596
Paul George Michael Bluth,622,366,90,70,2014,93,1,2018-11-02,6.688172,3.935484,0.967742,0.752688,21.655914
Team Steege,674,340,96,59,1493,85,0,2018-11-02,7.929412,4.000000,1.129412,0.694118,17.564706
Crimetown Chum Bloods,586,372,80,67,1595,87,7,2018-11-02,6.735632,4.275862,0.919540,0.770115,18.333333

In [97]:
full_standing_df.groupby("date")["rebounds"]#.rank("average", ascending=False)

In [95]:
full_standing_df["reb_fpoints"] = full_standing_df.groupby("date")["rebounds"].rank("average", ascending=False)
full_standing_df

ValueError:

# Current Totals

In [98]:
yesterday_df = full_standing_df[full_standing_df['date'] == yesterday]
preyesterday_df = full_standing_df[full_standing_df['date'] == preyesterday]
yesterday_total = yesterday_df.iloc[:,:6]
yesterday_total

,rebounds,assists,steals,blocks,points,games_played
team,,,,,,
New New York Atomic Supermen,712,488,116,95,1507,94
Chicago Mac Attack,681,381,110,84,1828,97
French Fries,690,372,109,103,1745,98
Team Steege,715,374,104,61,1626,91
Crimetown Chum Bloods,638,392,88,73,1737,93
Paul George Michael Bluth,637,371,90,71,2064,96

In [108]:
preyesterday_df

,rebounds,assists,steals,blocks,points,games_played,moves,date,rbs/g,ast/g,stl/g,blk/g,pts/g
team,,,,,,,,,,,,,
New New York Atomic Supermen,669,462,110,89,1449,89,4,2018-11-02,7.516854,5.191011,1.235955,1.000000,16.280899
Chicago Mac Attack,634,359,104,80,1750,91,5,2018-11-02,6.967033,3.945055,1.142857,0.879121,19.230769
French Fries,632,349,92,93,1613,89,4,2018-11-02,7.101124,3.921348,1.033708,1.044944,18.123596
Paul George Michael Bluth,622,366,90,70,2014,93,1,2018-11-02,6.688172,3.935484,0.967742,0.752688,21.655914
Team Steege,674,340,96,59,1493,85,0,2018-11-02,7.929412,4.000000,1.129412,0.694118,17.564706
Crimetown Chum Bloods,586,372,80,67,1595,87,7,2018-11-02,6.735632,4.275862,0.919540,0.770115,18.333333

In [106]:
new_points_df = yesterday_df.drop('date', axis=1).sub(preyesterday_df.drop('date',axis=1), fill_value=0)preyesterday_df

In [107]:
new_points_df

,rebounds,assists,steals,blocks,points,games_played,moves,rbs/g,ast/g,stl/g,blk/g,pts/g
team,,,,,,,,,,,,
Chicago Mac Attack,47,22,6,4,78,6,0,0.053586,-0.017220,-0.008837,-0.013141,-0.385408
Crimetown Chum Bloods,52,20,8,6,142,6,0,0.124583,-0.060808,0.026696,0.014831,0.344086
French Fries,58,23,17,10,132,9,0,-0.060307,-0.125430,0.078537,0.006077,-0.317473
New New York Atomic Supermen,43,26,6,6,58,5,1,0.057614,0.000478,-0.001913,0.010638,-0.248984
Paul George Michael Bluth,15,5,0,1,50,3,0,-0.052755,-0.070901,-0.030242,-0.013105,-0.155914
Team Steege,41,34,8,2,133,6,0,-0.072269,0.109890,0.013445,-0.023788,0.303426

In [91]:
yesterday_per_game = yesterday_df.iloc[:,-5:]
yesterday_per_game

,rbs/g,ast/g,stl/g,blk/g,pts/g
team,,,,,
New New York Atomic Supermen,7.574468,5.191489,1.234043,1.010638,16.031915
Chicago Mac Attack,7.020619,3.927835,1.134021,0.865979,18.845361
French Fries,7.040816,3.795918,1.112245,1.051020,17.806122
Team Steege,7.857143,4.109890,1.142857,0.670330,17.868132
Crimetown Chum Bloods,6.860215,4.215054,0.946237,0.784946,18.677419
Paul George Michael Bluth,6.635417,3.864583,0.937500,0.739583,21.500000